:root {
    --primary-color: #243642;
    --secondary-color: #387478;
    --tertiary-color: #629584;
    --text-color: #243642;
    --background-color: #E2F1E7;
    --white-color: #ffffff;
}


body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    color: var(--text-color);
    line-height: 1.6;
}

nav {
    background-color: var(--primary-color);
    padding: 10px;
    text-align: center;
}

nav a {
    color: var(--white-color);
    margin: 0 15px;
    text-decoration: none;
    font-size: 18px;
}

nav a:hover {
    color: var(--secondary-color);
    text-decoration: underline;
}

section {
    padding: 20px;
    margin: 20px 0;
    background-color: var(--white-color);
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    color: var(--primary-color);
}

h1 {
    text-align: center;
    margin-top: 20px;
}

h2 {
    border-bottom: 2px solid var(--secondary-color);
    padding-bottom: 10px;
    margin-bottom: 15px;
}

ul {
    list-style-type: disc;
    margin-left: 20px;
}

ul li {
    margin-bottom: 10px;
}

#projects h2 {
    color: var(--text-color);
}

footer {
    text-align: center;
    padding: 10px;
    background-color: var(--primary-color);
    color: var(--white-color);
    margin-top: 20px;
}

@media (max-width: 600px) {
    nav {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    nav a {
        margin: 10px 0;
    }
}
.skill {
    margin-bottom: 15px;
}

.progress {
    background-color: #e0e0e0;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
}

.progress-bar {
    height: 100%;
    background-color: var(--secondary-color);
    transition: width 0.5s ease;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.percentage {
    color: var(--white-color); /* White color for visibility */
    font-weight: bold; /* Make it bold */
    font-size: 14px; /* Font size for percentage text */
}
